/* Element #Header is the whole upper-part of the site, holding user-icon/settings, logo and searchbar */

#header {
    position: static;
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: var(--secondary-col2);
    z-index: 1;
    margin: 0;
    box-sizing: border-box;
    height: var(--header-height);
}

/* Class .headerBox splits header into inline-parts, currently left and right */
.headerBox {
    width: 50%;
    z-index: 1;
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 10px;
    height: var(--header-height);
}

#headerLeft {
    box-sizing: border-box;
    background-color: var(--main-col1);
    left: 0;
    align-content: center;
}

#headerRight {
    box-sizing: border-box;
    background-color: var(--main-col2);
    right: 0;
    align-content: center;
}

.header {
    position: -webkit-sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--contrast-col1);
    height: var(--header-height);
}

#userIcon {
    overflow: hidden;
    color: var(--text-col1);
    position: absolute;
    right: 1.5ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 7ch;
    border: none;
    background-color: var(--contrast-col1);
}
#userIcon:hover {

    position: absolute;
    right: 1.5ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 3ch;
    border: none;
    background-color: var(--contrast-col1);
    color: var(--text-col1);
}

#toggle-1 {
    width: 0;
    height: 0;
    top: -9999px;
    left: -9999px;
    position: absolute;
}

/*
input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
}*/

#searchField{
    visibility: hidden;
}

#menuButton {
    overflow: hidden;
    color: var(--text-col1);
    position: absolute;
    right: 10ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 10ch;
    border: none;
    background-color: var(--contrast-col1);
    -webkit-transition: width 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.2s, height 0.2s, top 0.2s;
}

/*Old method to working with searchbar, supposed to widen up when clicked, transforming into a searchbar*/

#menuButton:hover {
    overflow: hidden;
    color: var(--text-col1);
    position: absolute;
    right: 10ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 14ch;
    background-color: var(--contrast-col1);
}

#menuButton:active {
    overflow: hidden;
    color: var(--text-col1);
    position: absolute;
    right: 10ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 14ch;
}

#menuField input:checked + #menuButton {
    overflow: hidden;
    position: absolute;
    /*border: solid white 1px;*/
    right: 10ch;
    top: 1.5ch;
    width: 40ch;
    height: 7ch;
    border-radius: 14ch;

    color: var(--text-col2);
}
