/*

body {
    margin: 0;
    background-color: red;
    overflow: hidden;
}

#toggle-1 {
    width: 50px;
    height: 50px;
    position: absolute;
}

h1 {
    text-align: center;
    color: blue;
    font-size: 3vh;
}

p {
    font-size: 2vh;
}

li {
    font-size: 2vh;
    margin: 2%;
}

@media only screen and (max-width: 20in) {
    body {
        background-color: lightblue;
    }

   

    #userIcon {
        position: absolute;
        right: 4ch;
        top: 4ch;
        width: 14ch;
        height: 14ch;
        border-radius: 14ch;
        border: none;
        background-color: blueviolet;
    }

    #menuButton {
        position: absolute;
        right: 24ch;
        top: 4ch;
        width: 14ch;
        height: 14ch;
        border-radius: 14ch;
        border: none;
        background-color: blueviolet;
    }

    #menuButton:hover {
        position: absolute;
        right: 24ch;
        top: 4ch;
        width: 14ch;
        height: 14ch;
        border-radius: 14ch;
        background-color: blueviolet;
        box-shadow: 2px 2px black;
    }

    #menuButton:active {
        position: absolute;
        right: 24ch;
        top: 4ch;
        width: 40ch;
        height: 14ch;
        border-radius: 14ch;
        width: 34ch;
        box-shadow: 2px 2px black;
    }

    #toggle-1:checked + #menuButton {
        position: absolute;
        right: 24ch;
        top: 4ch;
        width: 40ch;
        height: 14ch;
        border-radius: 14ch;
        width: 34ch;
        box-shadow: 2px 2px black;
    }


    .mainFeedBG {
        z-index: -1;
        margin: fill;
        overflow-y: scroll;
    }

    .postCards {
        position: absolute;
        height: 100%;
        right: 0;
        left: 0;
        background-color: #333333;
        top: 10vh;
        box-shadow: -5px 0px grey;
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        overflow-y: scroll;
    }

    .postCard {
        width: 95%;
        margin: 2%;
        min-height: 60px;
        height: 7vh;
        background-color: #a6a6a6;
        list-style-type: none;
        box-shadow: 1px 1px #1a1a1a;
        box-sizing: border-box;
        border-radius: 5px;
        border: #a9a9a9 solid 1px;
    }

    .navBarRight {
        background-color: red;
        min-height: 400px;
        max-height: 1000px;
    }
}
*/