/* Element #Header is the whole upper-part of the site, holding user-icon/settings, logo and searchbar */

#header {
    position: static;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1;
    margin: 0;
    box-sizing: border-box;
    
    background-color: var(--main-col1);
    height: var(--header-height);
}

/* Class .headerBox splits header into inline-parts, currently left and right */
.headerBox {
    width: 50%;
    z-index: 1;
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 10px;
    height: var(--header-height);
    
        
    -webkit-transition: width 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.2s, height 0.2s, top 0.2s;
}

#headerLeft {
    box-sizing: border-box;
    left: 0;
    align-content: center;
    background-image: url('../img/siika_large.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--main-col1);
}

#headerRight {
    box-sizing: border-box;
    right: 0;
    align-content: center;
    background-color: var(--main-col1);
}

.header {
    position: -webkit-sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--contrast-col1);
    height: var(--header-height);
}

#userIcon {
    overflow: hidden;
    color: var(--text-col1);
    position: absolute;
    right: 1.5ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 7ch;
    border: none;
    background-image: url("../img/profile_ph_large.png");
    background-position: center;
    background-size: cover;
    background-color: var(--contrast-col2);
}

#userIcon:hover {
    position: absolute;
    right: 1.5ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 3ch;
    border: none;
    
    background-color: var(--contrast-col2);
    color: var(--text-col1);
}

#toggle-1 {
    width: 0;
    height: 0;
    top: -9999px;
    left: -9999px;
    position: absolute;
}

/*
input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
}*/

/*
menuField holds the inputField and searchButton inside it
 */

#menuField{
    width: 70%;
}

#searchField{
    position:absolute;
    z-index: 0;
    visibility: hidden;
    right: 15ch;
    margin-top:1.8ch;
    height: 3ch;
    border: var(--secondary-col1) solid 2px;
    border-radius: 2ch 0 0 2ch;
    padding-left: 1ch;
    width: 0;

    -webkit-transition: width 0.4s; /* For Safari 3.1 to 6.0 */
    transition: width 0.4s, height 0.4s, top 0.4s;
}

#searchFieldExpander{
    overflow: hidden;

    position: absolute;
    right: 18ch;
    top: 3.7ch;
    width: 3ch;
    height: 3ch;
    border: none;

    background-color: transparent;
    background-image: url("../img/arrow_xlarge.png");
    background-position: center;
    background-size: cover;

    -webkit-transition: width 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.2s, height 0.2s, top 0.2s, transform 0.4s;
}

#searchButton {
    overflow: hidden;
    z-index: 1;
    
    position: absolute;
    right: 10ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 10ch;
    border: none;

    background-color: var(--contrast-col2);
    background-image: url("../img/search_icon_xlarge.png");
    background-position: center;
    background-size: cover;
    
    color: var(--text-col1);
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.5s, top 0.5s;
}

/*Old method to working with searchbar, supposed to widen up when clicked, transforming into a searchbar*/

#searchButton:hover {
    overflow: hidden;
    position: absolute;
    right: 10ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 3ch;
    
    color: var(--text-col1);
    background-color: var(--contrast-col2);
}

#searchButton:active {
    overflow: hidden;
    position: absolute;
    right: 10ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 3ch;
    background-image: none;
    
    color: var(--text-col1);
}

#menuField input:checked + #searchFieldExpander {
    overflow: hidden;
    position: absolute;
    right: 10ch;
    top: 1.5ch;
    width: 100%;
    height: 7ch;
    border-radius: 3ch;
    background-image: none;

    color: var(--text-col2);
}