/*postCards holds all our posts as a list inside it */

#postCards {
    position: absolute;
    height: 90%;
    right: 0;
    left: 0;
    background-color: var(--secondary-col1);
    box-shadow: -5px 0 var(--secondary-col2);
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-y: scroll;
    top: var(--header-height);
    z-index: -1;
}

#cardTest{
    position: absolute;
    height: 80ch;
    right: 0;
    left: 0;
    background-color: var(--secondary-col1);
    box-shadow: -5px 0 var(--secondary-col2);
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-y: scroll;
    top: var(--header-height);
}

/* postCard is just one little post-element in the site list */

.postCard {
    position: relative;
    width: auto;
    left:0;
    right:0;
    margin: 1ch;
    border-radius: 3px;
    min-height: 60px;
    list-style-type: none;
    box-sizing: border-box;
    /*overflow: hidden;

    -webkit-transition: height 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.5s, top 0.5s;

    color: var(--text-col1);
    /*height: var(--card-main-size);*/
    background-color: var(--secondary-col2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}


/*
BigCard is the cardView-class that gets loaded when user clicks to open a card
 */

.bigCard{
    position: relative;
    background-color: var(--secondary-col2);
    border: var(--secondary-col2) solid 2px;
    height: 100%;
    padding:0;
}

/*
Below are all the styles for different classes that are held inside bigCards
 */

.pictureContainer{
    position: absolute;
    width: 100%;
    top:0;
    height:20%;
    overflow: hidden;
    display: block;
    left:0;
    right: 0;
    margin: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: var(--contrast-col2);
    border: var(--secondary-col1) solid 1px;
}

/* Not currently in use, image loaded as background for pictureContainer
.postImageThumb{
    position: absolute;
    width:100%;
    left:0;
    right:0;
    margin: 0;
    display: block;
}
*/

.postTitle{
    position: absolute;
    width: 70%;
    left: 2ch;
    color: var(--text-col1);
    font-size: var(--text-title2-size);
    padding: 0;
    top:24%;
    margin: 0 0 0 0;
    display: inline-block;
}

.username {
    position: absolute;
    width: auto;
    top: 24%;
    right: 2ch;
    padding: 0;
    display: inline-block;
}

.mainText{
    position: absolute;
    max-height: 60%;
    width:95%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
    left: 1ch;
    right:1ch;
    top: 25%;

    margin-top:2ch;
    padding: 1ch;
    box-sizing: border-box;

    --webkit-box-orient: vertical;
    --webkit-line-clamp: 2; /* number of lines to show */
    line-height: 2.4ch;        /* fallback */

    /*background-color: var(--text-col3);
    border: var(--secondary-col1) solid 2px;*/
}

.votes{
    position: absolute;
    bottom: 1ch;
    left: 2ch;
    margin: 0 0 2ch;
}

.commentsLink{
    position: absolute;
    bottom: 1ch;
    margin-left:25%;
    right:2ch;
    margin-bottom: 2ch;
}

/*
Below styles for smallCards
 */

.littleTitle{
    position:absolute;
    width: 70%;
    left: 0;
    top: 0;
    margin: 1ch;
}

.littleUsername{
    position: absolute;
    right: 0;
    top: 0;
    margin: 1ch;
    width: auto;
    z-index: inherit;
}

.littleUsername:hover{
    color: red;
}

.littleVotes{
    position: absolute;
    box-sizing: border-box;
    right: 0;
    margin: 1ch;
    bottom: 0;
}

.littleComments{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1ch;
}