/*postCards holds all our posts as a list inside it */

#postCards {
    position: absolute;
    height: 90%;
    right: 0;
    left: 0;
    background-color: var(--secondary-col1);
    box-shadow: -5px 0 var(--secondary-col2);
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-y: scroll;
    top: var(--header-height);
    z-index: -1;
}

/* postCard is just one little post-element in the site list */

.postCard {
    position: relative;
    width: auto;
    left:0;
    right:0;
    margin: 1ch;
    border-radius: 3px;
    height: var(--card-main-size);
    min-height: 60px;
    list-style-type: none;
    box-sizing: border-box;
    /*overflow: hidden;

    -webkit-transition: height 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.5s, top 0.5s;

    color: var(--text-col1);
    /*height: var(--card-main-size);*/
    background-color: var(--secondary-col2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

/*
BigCard is the cardView-class that gets loaded when user clicks to open a card


.bigCard{
    position: relative;
    background-color: var(--secondary-col2);
    border: var(--secondary-col2) solid 2px;
    height: 100%;
    padding:0;
}

*/

/*
Below are all the styles for different classes that are held inside bigCards
 */

.postImg{
    position: absolute;
    max-width: 20%;
    height: 100%;
}

/* Not currently in use, image loaded as background for pictureContainer
.postImageThumb{
    position: absolute;
    width:100%;
    left:0;
    right:0;
    margin: 0;
    display: block;
}
*/

/*
Below styles for smallCards
 */

.postTitle{
    position:absolute;
    display:inline;
    white-space: nowrap;
    width: 60%;
    left: 20%;
    top: 0;
    margin: 1ch;
    overflow: hidden;
    text-overflow:ellipsis
}

.username {
    position: absolute;
    width: auto;
    top: 24%;
    right: 2ch;
    padding: 0;
    display: inline-block;
}

.mainText{
    position: absolute;
    visibility: hidden;
    max-height: 60%;
    width:95%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
    left: 1ch;
    right:1ch;
    top: 25%;

    margin-top:2ch;
    padding: 1ch;
    box-sizing: border-box;

    --webkit-box-orient: vertical;
    --webkit-line-clamp: 2; /* number of lines to show */
    line-height: 2.4ch;        /* fallback */

    /*background-color: var(--text-col3);
    border: var(--secondary-col1) solid 2px;*/
}

.cardArrow{
    position: absolute;
    z-index: 4;
    left: 45%;
    right: 45%;
    bottom: 1ch;
    height: 40%;
    max-height: 3ch;
    width: 10%;
    border: none;
    border-radius: 1ch;

    background-color: transparent;
    background-image: url("../img/arrow_down_xlarge.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: transform var(--tran-speed);
}

.cardArrow:hover{
    background-color: rgba(255,255,255,0.2);
}
.cardArrow:active{
    background-color: rgba(255,255,255,0.4);
}

.votes{
    position: absolute;
    bottom: 1ch;
    left: 2ch;
    margin: 0 0 2ch;
}

.postUsername{
    position: absolute;
    right: 0;
    top: 0;
    margin: 1ch;
    width: auto;
    z-index: inherit;
}

.postUsername:hover{
    color: red;
}

.postComments{
    position: absolute;
    left: 20%;
    bottom: 0;
    margin: 1ch;
}

.postVotes{
    position: absolute;
    box-sizing: border-box;
    right: 0;
    margin: 1ch;
    bottom: 0;
}