:root{
    --main-col1: #e1ffa0;
    --main-col2: #85ff7a;
    --secondary-col1: #49527f;
    --secondary-col2: #658f9e;
    --contrast-col1: #596300;
    --contrast-col2: #492e3e;
    --text-col1: black;
    --text-col2: darkgrey;
    --text-col3: white;

    --header-height: 12ch;

    --text-title1-size: 4ch;
    --text-title2-size: 3ch;
    --text-bread-size: 2ch;


    --card-main-size: 7ch;
    --card-open-size: 50ch;
}

body {
    margin: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: var(--text-col1);
    font-size: var(--text-title-size);
}

p {
    font-size: var(--text-bread-size);
    color: var(--text-col1);
}

li {
    font-size: var(--text-bread-size);
    color: var(--text-col1);
    margin: 2%;
}

.mainFeedBG {
    z-index: -1;
    margin: fill;
    overflow-y: scroll;
}

@media only screen and (max-width: 20in) {}

