#commentBody{
    position: relative;
    height: 100vh;

    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: left;
}

#commentPage{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
}

#mainPost{
    box-sizing: border-box;
    position: relative;
    display: block;

    padding: 1ch;
    min-height: 10ch;
    /*background-color: var(--secondary-col2);*/
    background-color: rgba(255,255,255,0.6);
    border-radius: 3px;
    margin: 1ch;
}

.imgContainer{
    position: relative;
    width: 100%;
    min-height: 20ch;
    background-color: #492e3e;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 0;
    left: 0;
    top: 0;
}

.postImg{
    max-width: 100%;
    width: 100%;
    min-height: 5ch;
}

.postTitle{
    position: relative;
    display: inline-block;
    top: 1ch;
}

.postUsername{
    position: relative;
    display: inline-block;
    bottom: 0;
    right: 0;
    text-align: right;
}

.mainText{
    position: relative;
    min-height: 0;
}

.postVotes{
    position: relative;
    display: inline-block;
    bottom: 0;
    left: 0;
    margin: 1ch;
}

/*
 Below styles for comments
*/

#commentList{
    overflow-x: hidden;
    position: relative;
    margin-top: 0;
    padding: 0;
}

.commentCard{
    padding: 1ch;
    position: relative;
    margin: 1ch;
    background-color: rgba(255,255,255,0.6);

    border-radius: 3px;
    min-height: 10ch;
}

.commentUsername{
    display: inline-block;
    color: var(--main-col2);
    right: 1ch;
    bottom: 1ch;
    margin: 0;
}

.commentText{
    min-height: 2ch;
    left: 1ch;
    width: 90%;
}

.commentVotes{
    position: absolute;
    right: 1ch;
    bottom: 1ch;
}

.postVoteBlock{
    padding: 1ch;
    bottom: 0;
    position: absolute;
    right: 0;
    max-height: 90%;
    min-width: 3ch;
    margin: 1ch;
}

.upvoteButton{
    width: 4ch;
    height: 4ch;

    border: none;
    background-color: transparent;
    background-image: url("../img/votearrow_up_xlarge.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: block;
    position: relative;
    top: 1ch;
}

.upvoteButton:active{
    background-color: rgba(255,255,255,0.8);
}


.postVotes {
    display: block;
    position: relative;
}

.downvoteButton{
    width: 4ch;
    height: 4ch;

    border: none;
    background-color: transparent;
    background-image: url("../img/votearrow_down_xlarge.png");
    background-position: center;
    background-size: cover;

    display: block;
    position: relative;
    bottom: 1ch;
}


.downvoteButton:active{
    background-color: rgba(255,255,255,0.8);
}

@media only screen and (min-width: 8in) {
    #commentBody{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 0;
        background-color: var(--secondary-col1);

        background-image: url("../img/background.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    #commentPage {
        position: absolute;

        max-width: 70ch;
        min-width: 50ch;
        left: 20%;
        right: 20%;
        /*background-color: transparent;*/
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        /*top: var(--header-height);*/
        z-index: 0;
    }
}
