*::-webkit-scrollbar {
    display: none;
}

:root{
    --main-col1: #627488;
    --main-col2: #58544c;
    --main-col3: #a5a293;
    --secondary-col1: lightgrey;
    --secondary-col2: white;
    --contrast-col1: #22200b;
    --contrast-col2: #fff5ae;
    --text-col1: black;
    --text-col2: darkgrey;
    --text-col3: white;

    --header-height: 10ch;

    --text-title1-size: 4ch;
    --text-title2-size: 3ch;
    --text-bread-size: 2ch;

    --card-main-size: 14ch;
    --card-open-size: 20ch;

    --tran-speed: 0.4s;

    --gradient-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.06) inset;


    --font-main: "Georgia";
}
/*
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

#mainPage{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: var(--font-main);

}

h1 {
    text-align: center;
    color: var(--text-col3);
    font-size: var(--text-title1-size);
    font-family: var(--font-main)
}

p {
    font-size: var(--text-bread-size);
    color: var(--text-col1);
    font-family: var(--font-main)
}

li {
    font-size: var(--text-bread-size);
    color: var(--text-col1);
    margin: 2%;
    font-family: var(--font-main)
}

a{
    font-size: var(--text-bread-size);
    color: var(--text-col1);
    margin: 2%;
    font-family: var(--font-main)
}

.mainFeedBG {
    z-index: -1;
    margin: fill;
    overflow-y: scroll;
}

@media only screen and (min-width: 8in) {
    #mainPage{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;

        background-image: url("../img/background.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    #postCards {
        position: absolute;

        max-width: 70ch;
        min-width: 50ch;
        left: 30%;
        right: 30%;
        background-color: transparent;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        /*top: var(--header-height);*/
        z-index: 0;
    }
}
