/* Element #Header is the whole upper-part of the site, holding user-icon/settings, logo and searchbar */

#header {
    position: static;
    top: 0;
    width: 100%;
    z-index: 1;
    margin: 0;
    
    background-color: var(--main-col1);
    height: var(--header-height);

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;

}

/* Class .headerBox splits header into inline-parts, currently left and right */
.headerBox {
    /*width: 50%;*/
    z-index: 1;
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 10px;
    height: var(--header-height);
    
        
    -webkit-transition: width var(--tran-speed);
    /* For Safari 3.1 to 6.0 */
    transition: width var(--tran-speed), height var(--tran-speed), top var(--tran-speed);

}

#headerLeft {
    box-sizing: border-box;
    left: 0;
    align-content: center;
    background-image: url('../public/img/siika_large.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: var(--main-col1);*/
    width: 30ch;
}

#headerLeft:hover {
    cursor: pointer;
}

#headerRight {
    box-sizing: border-box;
    right: 0;
    align-content: center;
    /*background-color: var(--main-col1);*/
    width: 20ch;
    max-width: 100%;
}

.header {
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--contrast-col1);
    height: var(--header-height);

}

#userIcon {
    z-index: 2;
    overflow: hidden;
    color: var(--text-col1);
    position: absolute;
    right: 1.5ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 7ch;
    border: none;
    background-image: url("../public/img/profile_ph_large.png");
    background-position: center;
    background-size: cover;
    background-color: var(--contrast-col2);
}

#userIcon:hover {
    position: absolute;
    right: 1.5ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 3ch;
    border: none;
    
    background-color: var(--contrast-col2);
    color: var(--text-col1);
}

/*
Dropdownmenu is the actual box containing the list of elements
remember that navbarScript.js manages the height
 */

#dropDownMenu{
    visibility: hidden;

    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 0;
    padding-top: 10ch;
    padding-left: 0;
    text-align: left;
    background-color: var(--contrast-col2);
    list-style-type: none;

    -webkit-transition: width var(--tran-speed);
    /* For Safari 3.1 to 6.0 */
    transition: width var(--tran-speed);
}

#dropDownList{
    position: absolute;
    right:0;
    margin-left:0;
    text-align: right;
    list-style-type: none;
    padding:1ch;
}

#toggle-1 {
    width: 0;
    height: 0;
    top: -9999px;
    left: -9999px;
    position: absolute;
}

.dropDown{
    color: var(--text-col3);
    font-size: var(--text-title2-size);
    text-decoration: none;
    margin: 1ch;
}

/*
input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
}*/

/*
menuField holds the inputField and searchButton inside it
 */

#menuField{
    width: 70%;
}

#searchField{
    position:absolute;
    z-index: 0;
    visibility: hidden;
    right: 15ch;
    margin-top:1.8ch;
    height: 4ch;
    border: var(--secondary-col1) solid 2px;
    border-radius: 2ch 0 0 2ch;
    padding-left: 1ch;
    width: 0;

    -webkit-transition: width var(--tran-speed); /* For Safari 3.1 to 6.0 */
    transition: width var(--tran-speed), height var(--tran-speed), top var(--tran-speed);
}

#searchFieldExpander{
    overflow: hidden;

    position: absolute;
    right: 18ch;
    top: 3.7ch;
    width: 3ch;
    height: 3ch;
    border: none;

    background-color: transparent;
    background-image: url("../public/img/arrow_xlarge.png");
    background-position: center;
    background-size: cover;

    -webkit-transition: width var(--tran-speed);
    /* For Safari 3.1 to 6.0 */
    transition: width var(--tran-speed), height var(--tran-speed), top var(--tran-speed), transform var(--tran-speed);
}

#searchButton {
    overflow: hidden;
    z-index: 1;
    
    position: absolute;
    right: 10ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 10ch;
    border: none;

    background-color: var(--contrast-col2);
    background-image: url("../public/img/search_icon_xlarge.png");
    background-position: center;
    background-size: cover;
    
    color: var(--text-col1);
    -webkit-transition: width var(--tran-speed); /* For Safari 3.1 to 6.0 */
    transition: width var(--tran-speed), height var(--tran-speed), top var(--tran-speed);
}

/*Old method to working with searchbar, supposed to widen up when clicked, transforming into a searchbar*/

#searchButton:hover {
    overflow: hidden;
    position: absolute;
    right: 10ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 3ch;
    
    color: var(--text-col1);
    background-color: var(--contrast-col2);
}

#searchButton:active {
    overflow: hidden;
    position: absolute;
    right: 10ch;
    top: 1.5ch;
    width: 7ch;
    height: 7ch;
    border-radius: 3ch;
    background-image: none;
    
    color: var(--text-col1);
}

#menuField input:checked + #searchFieldExpander {
    overflow: hidden;
    position: absolute;
    right: 10ch;
    top: 1.5ch;
    width: 100%;
    height: 7ch;
    border-radius: 3ch;
    background-image: none;

    color: var(--text-col2);
}
#userCorner input:checked + #userIcon {

}