/*postCards holds all our posts as a list inside it */

*::-webkit-scrollbar {
    display: none;
}

#submitCard{
    position: relative;
    padding: 1ch;
}

#submitButton{
    position: absolute;
    right: 1ch;
    bottom:1ch;
}

#postCards {
    position: absolute;
    height: 90%;

    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    /*top: var(--header-height);*/
    z-index: 0;
}

/* postCard is just one little post-element in the site list */



.postCard {
    position: relative;
    width: auto;
    left: 0;
    right: 0;
    margin: 1ch 2ch 2ch 1ch;
    border-radius: 3px;
    min-height: var(--card-main-size);
    list-style-type: none;
    box-sizing: border-box;
    /*overflow: hidden;

    -webkit-transition: height 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.5s, top 0.5s;

    color: var(--text-col1);
    /*height: var(--card-main-size);*/
    //background-color: var(--secondary-col2);
    background-color: rgba(255,255,255,0.7);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

#submitCard{
    background-color: rgba(255,255,255,0.5);
}

/*
BigCard is the cardView-class that gets loaded when user clicks to open a card


.bigCard{
    position: relative;
    background-color: var(--secondary-col2);
    border: var(--secondary-col2) solid 2px;
    height: 100%;
    padding:0;
}

*/

/*
Below are all the styles for different classes that are held inside bigCards
 */

.postImg {
    /*position: absolute;*/
    display: inline-block;
    max-width: 20%;
    min-width: 0;
    margin-bottom: 0;
    max-height: 100%;

    border-radius: 3px;
}

/* Not currently in use, image loaded as background for pictureContainer
.postImageThumb{
    position: absolute;
    width:100%;
    left:0;
    right:0;
    margin: 0;
    display: block;
}
*/

/*
Below styles for smallCards
 */

.postTitle {
    position: absolute;
    font-size: var(--text-title2-size);
    white-space: nowrap;
    left: 20%;
    top: 0;
    margin: 1%;
}

.mainText {
    position: relative;
    visibility: hidden;
    min-height: 0;
    display: inline-block;
    margin: 1ch;

    --webkit-box-orient: vertical;
    --webkit-line-clamp: 2; /* number of lines to show */
    line-height: 2.4ch; /* fallback */

    /*background-color: var(--text-col3);
    border: var(--secondary-col1) solid 2px;*/
}

.cardArrow {
    position: relative;
    display: block;
    z-index: 4;
    left: 45%;
    right: 45%;
    bottom: 1ch;
    height: 4ch;
    width: 10%;
    border: none;
    border-radius: 1ch;

    background-color: transparent;
    background-image: url("../img/arrow_down_xlarge.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: transform var(--tran-speed);
}

.cardArrow:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.cardArrow:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.postUsername {
    position: absolute;
    color: var(--main-col2);
    left: 20%;
    top: 4ch;
    display: inline-block;
    margin: 1%;
    width: auto;
}

.postComments {
    position: relative;
    display: inline-block;
}

.postComments:hover {
    color: var(--main-col1);
}

.postVoteBlock{
    padding: 1ch;
    bottom: 0;
    z-index: 2;
    position: absolute;
    right: 1ch;
    max-height: 90%;
    min-width: 3ch;
    margin: 1ch;
}

.upvoteButton{
    width: 4ch;
    height: 4ch;

    border: none;
    background-color: transparent;
    background-image: url("../img/votearrow_up_xlarge.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: block;
    position: relative;
    top: 1ch;
}

.upvoteButton:active{
    background-color: rgba(255,255,255,0.8);
}


.postVotes {
    display: block;
    position: relative;
    z-index: 1;
}

.downvoteButton{
    width: 4ch;
    height: 4ch;

    border: none;
    background-color: transparent;
    background-image: url("../img/votearrow_down_xlarge.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: block;
    position: relative;
    bottom: 1ch;
}

.downvoteButton:active{
    background-color: rgba(255,255,255,0.8);
}